html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 100px;
}
ul,li,img {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
  background-color: #eee;
  font-size: 0.18rem;
  // overflow-y: hidden;
}
.el-message {
  font-size: 0.18rem;
}