.faceSheet {
  width: 100%;
  height: 100%;
  .faceSheetTitle {
    width: 100%;
    height: 0.3rem;
    display: flex;
    flex-direction: row;
    text-align: left;
    // background-color: pink;
    div {
      flex: 1;
      margin-right: 0.2rem;
    }
    .refreshBox {
      max-width: 0.6rem !important;
      /deep/ .refreshButton {
      width: 100%;
      height: 100%;
      padding: 0 0.1rem !important;
      }
    }
    .selectBox {
      height: 100%;
      min-width: 5.2rem;
      max-width: 5.2rem;
      margin-right: 0;
      .selectRadio {
        height: 100%;
        /deep/ .el-radio-button__inner  {
          height: 0.3rem;
          padding: 0.08rem 0.1rem;
        }
      }
    }
    .orderBox {
      min-width: 3rem;
      max-width: 3.4rem;
      display: flex;
      // flex-direction: column;
      .elInput {
        flex: 8;
        padding: 0;
        /deep/ .el-input__inner {
          line-height: 0.3rem;
          height: 0.3rem;
        }
      }
      .elButton {
        flex: 1;
        margin-right: 0;
        width: 0.4rem;
        line-height: 0;
        padding: 0 0.1rem;
      }
    }
  }
  .faceSheetMain {
    ul {
      width: 100%;
     .outLi {
        width: 100%;
        background-color: #ffffff;
        margin: 0.1rem 0;
        box-sizing: border-box;
        border: 1px solid #ddd;
        font-size: 0.14rem;
        // text-align: left;
        .orderMsg {
          width: 100%;
          display: flex;
          div {
            flex: 1;
            min-width: 1rem;
          }
          .goodsMsg {
            flex: 3;
          }
          .address {
            flex: 2;
          }
        }
        .orderTitle {
          height: 20%;
          min-width: 10rem;
          line-height: 0.2rem;
          font-weight: 700;
          font-size: 0.12rem;
          // color: #ffffff;
          // background-color: #99CC66;
          text-align: left;
          span {
            margin: 0 0.2rem;
          }
        }
        .orderMain {
          width: 100%;
          height: auto;
          display: flex;
          font-size: 0.12rem;
          // line-height: 0.8rem;
          justify-content: center;
          // align-items: center;
          .itemBox {
            flex: 1;
            min-width: 1rem;
            position: relative;
            border-right: 1px solid #ddd;
            &:nth-child(2) {
              border-left: 1px solid #ddd;
            }
            &:nth-child(8) {
              flex: 2;
            }
            &:last-child {
              border-right: none;
            }
            div {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }
          .goodsItemMsg {
            flex: 3;
            ul {
              .goodItem {
                height: 1rem;
                box-sizing: border-box;
                display: flex;
                border-bottom: 1px solid #ddd;
                overflow: hidden;
                &:last-child {
                  border-bottom: none;
                }
                .goodLeft {
                  flex: 1;
                  min-width: 0.4rem;
                  max-width: 0.8rem;
                  margin: 0.1rem;
                  overflow: hidden;
                  line-height: 1rem;
                  img {
                    width: 100%;
                  }
                }
                .goodRight {
                  flex: 3;
                  margin: 0.1rem;
                  max-width: 2rem;
                  line-height: 0.4rem;
                  text-align: left;
                  p {
                    max-width: 2rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                  span {
                    margin-right: 0.2rem;
                  }
                }
              }
            }
          }
        }
      }
      .outLi:first-child {
        height: 0.3rem;
        font-weight: 700;
        line-height: 0.3rem;
      }
    }
  }
  .pageBox {
    margin: 0.4rem 0;
  }
}